@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    /*Text*/
    --Pale-Violet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
    --Moderate-Violet-chat-on-the-left: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%);
    --Grayish-Blue-placeholder-text: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);
    /*Gradients*/
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    /*Secondary*/
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%);
    --Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    background-color: var(--Light-Grayish-Violet-app-background);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    position: absolute;
    top: 40px;
    margin: auto;
}

/*Background*/

.background{
    position: relative;
    right: 25%;
    bottom: 20px;
    width: 50%;
    height: 560px;
    background: linear-gradient(60deg, var(--Light-Violet), var( --Light-Magenta));
    border-radius: 0 0 300px;
    

}

/* Phone */

.phone{
    display: block;
    font-family: 'Rubik', sans-serif;
}

.model-phone{
    display: block;
    border-radius: 35px;
    background-color: var(--White);
    max-width: 260px;
    width: 260px;/*width: 260px;*/
    height: 542px;
    margin: auto;
    box-shadow: 10px 10px 30px -10px  var(--Dark-Grayish-Violet-paragraph);
    
}

.screen{
    padding: 4%; /* padding: 10px;*/
}    

/*proflie*/
.profile{
    background: linear-gradient(60deg, var(--Light-Violet), var( --Light-Magenta) );
    height: 80px;   /*height: 100px;*/
    border-radius: 25px 25px 7px 7px;
}

.profile::before{
    content: " ";
    display: block;
    background-color: var(--White);
    margin: auto;
    width: 48.8%;/*width: 125px;*/
    height: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-img{
    position: relative;
    top: 28px; /* top: 29px; */
    left: 9.5%; /* left: 23px; */
    border: 1.8px solid white;
    border-radius: 50%;
    max-width: 28px;
    width: 100%;
}

.profile-main{
     position: relative;
     width: 95%;
     bottom: 15%;
     left: 6%; 
}

.profile-name{
    position: relative;
    left: 26%;  /* left: 65px; */
    bottom: 4px;
}

.profile h3{
    font-size: 0.75em;
    font-weight: 700;
    color: var(--Pale-Violet-sub-heading-at-the-top-of-the-app-UI);
}

.profile p{
    font-size: .56em;
    font-weight: 500;
    padding-top: 2%;
    /* padding-top: 5px;*/
    color: var( --Grayish-Blue-placeholder-text);
}

.seta-profile1{
    background-color: var(--White);
    display: block;
    transform: rotate(-54deg);
    position: relative;
    top: 39px;
    left: 5px;
    width: 9px;
    height: 2px;
    border-radius: 2px;
}

.seta-profile2{
    background-color: var(--White);
    display: block;
    transform: rotate(54deg);
    position: relative;
    top: 44px;
    left: 5px;
    width: 9px;
    height: 2px;
    border-radius: 2px;

}

.seta-pr{
    position: relative;
    top: 5px;
    left: 3px;
}



.point{
    display: flex;
    position: relative;
    bottom: 25px;
    left: 200px;
    flex-direction: column;
    width: 2px;
    height: 2px;
    margin-top: 2px;
    background-color: var(--Grayish-Blue-placeholder-text);
}




/*Chat*/

.chat{
    display: block;
    background-color: var(--Light-Grayish-Violet-app-background);
    height: 438px;
    border-radius: 0 0 23px 23px;
    padding-top: 1%;  /* padding-top: 5px; */
    color: var(--Moderate-Violet-chat-on-the-left);
}

.chat p{
    margin-top: 2.5%; /* margin-top: 9px; */
    font-size: .56em;
}


.chat-balloon{
    display: block;
    width: 120px;
    /* width: 120px; */
    height: 28px;
    text-align: left;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 8%;
    margin-left: 3.6%;
    background-color:  hsl(206, 6%, 79%, 0.3);
    border-radius: 9px 9px 9px 3px ;
}

.chat-balloon-2{
    margin-left: 39%;
    /* margin-left: 86px; */
    padding: 4.5%;
    width: 48%; /* width: 115px; */
    border-radius: 9px 9px 3px 9px;
    background-color: var(--White);
    color: var(--Desaturated-Dark-Violet-chat-on-the-right);

}

.chat-balloon-2-2{
    margin-left: 56%;   /* margin-left: 123px; */
    padding: 4.5%;
    background-color: var(--White);
    width: 31%; /* width: 76px; */
    border-radius: 10px 10px 3px 10px;
    color: var(--Desaturated-Dark-Violet-chat-on-the-right);
}

.chat-ballon3{
    padding-bottom: 14px;
}

.dog{
    display: block;
    width: 83%;
    margin-left: 38%;
    /* margin-left: 100px; */
}

.dog-img{
    display: inline-block;
    margin-top: 5.6%;   /* margin-top: 12px; */
    max-width: 42px;
    width: 100%;
    border-radius: 15% ;
}

/*cards prices*/

.cards-prices{
    padding-left: 4%; /* padding-left: 6px; */
    padding-top: 3px;
}

.cards-prices p{
    color: var(--White);
    border-radius: 11px 11px 11px 3px;
    background: linear-gradient(220deg, var(--Light-Violet), var( --Light-Magenta) );
    padding-top: 5%; /* padding-top: 8px; */
    width: 68%; /* width: 155px; */
    min-height: 30px;
    /* height: 30px; */
    padding-left: 6%;  /* padding-left: 15px; */
    font-size: .6em;
}

.card2 b{
    padding-left: 12%;
    /* padding-left: 18px; */
}

.cards-prices b{
    font-size: 1.5em;
    margin-left: 25px;
    font-weight: 700px;
}
.cards-prices p::before{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 9px;
    border: 1px solid var(--Grayish-Blue-placeholder-text);
    border-radius: 50%;
}


/*Input-chat*/

.input-chat{
    background-color: var(--White);
    border-radius: 50px;
    margin: auto;
    margin-top: 4.6%;  /* margin-top: 15px; */
    width: 93%; /* width: 220px; */
    height: 38px;
}

.input-chat p{
    position: relative;
    color: var(--Dark-Grayish-Violet-paragraph);
    padding-left: 10%; /* padding-left: 22px; */
    padding-top: 6.4%;  /* padding-top: 6px; */
    font-size: .63em;
}

.input-chat p::after{
    content: "";
    display: block;
    position: relative;
    left: 159px;
    /* left: 154px; */
    bottom: 21px;
    border-radius: 50%;
    width: 32px; /* width: 32px; */
    min-height: 32px;
    /* height: 32px; */
    background-color: var(--Very-Dark-Desaturated-Violet-submit-button-background);
}

.seta-1{
    background-color: var(--White);
    display: block;
    transform: rotate(40deg);
    position: relative;
    left: 191.8px;
    bottom: 43px;
    width: 13px;
    height: 3px;
    border-radius: 2px;
}
.seta-2{
    background-color: var(--White);
    display: block;
    transform: rotate(-40deg);
    position: relative;
    left: 191.8px;
    bottom: 38px;
    width: 14px;
    height: 3px;
    border-radius: 2px;
}

/* contents*/

.section-main{
    display: block;
    font-family: 'Rubik', sans-serif;
    min-width: 300px;
    width: 100%;
}

.Section-main-contents{
    display: block;
    text-align: center;
    margin-top: 18%;    /* margin-top: 45px; */
    
}

.Section-main-contents h1{
    color: var(--Very-Dark-Desaturated-Violet-submit-button-background);
    font-size: 1.875em;
    font-weight: 500;
}

.Section-main-contents p{
    color: var(--Dark-Grayish-Violet-paragraph);
    margin: auto;
    line-height: 1.5em;
    width: 260px;
    font-size: .875em;
    padding-top: 9%;  /* padding-top: 24px; */
    padding-bottom: 30%;  /* padding-bottom: 20px; */
}
    

footer{
    display: block;
}

.attribution p{
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    color: var(--Very-Dark-Desaturated-Violet-submit-button-background);
    font-size: .875em;
    font-weight: 600;
}

@media screen and (min-width: 830px){

    /*alinhamento*/
    main{
        display: flex;
        margin-right: 10%;
    }

    .phone{
        margin-right: 10%;
    }

    .background{
        right: 40%;
        height: 600px;
        width: 38%;
        border-radius: 0  0 300px 300px;
    }

    .Section-main-contents{
        text-align: left;
        margin-top: 60%;
        margin-left: 20%;
    }

    .Section-main-contents p{
        width: 400px;
        line-height: 1.8em;
        padding-top: 5%;
    }

    footer{
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .attribution p{
        display: block;
        padding-top: 2px;
        font-size: 1em;
    }

 
}